$font: "Croissant One", cursive;
$main-color:#430505;

//cake-spange
$red-spange:#E94A47;
$yellow-spange:#FCDF63;
$brown-spange:#8B583E;

//cake-icing
$blue-icing:#6684C1;
$red-icing:#FFB1B1;
$green-icing:#90FF8E;
$gray-icing:#CDCDCD;
$yellow-icing:#D3FE26;
$orange-icing:#FC8630;

