form {
    margin:50px 0;
    min-height: 500px;
    max-height: 620px;
}
.arrows {
    display: flex;
    flex-direction: column;    
    height: 550px;
    .left-right-icon{
        font-size: 30px;
        width: 10px;
        cursor: pointer;
    }
}