
.axis-baseline {
    stroke: #AFAFAF;
    stroke-width: 1px;
    stroke-linecap: butt;
}
.frame {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 30px;
    color:#000
}
.ordinalframe{
    display: flex;
    justify-content: center;
}