@import '../../../../assets/scss/variables.scss';

.Step2 {
    .img-spange{
        height: 77px;
        width: auto;
        margin-right: 10px;
    }
    .img-icing-filling{
        height: 50px;
        width: auto;
        padding: 5px;
    }
    .border{
        border: 1px solid $main-color;
    }
    .padding5{
        padding: 5px;
    }
}
