@import "../../assets/scss/variables.scss";

.Icon {
    width: 25px;
    height: auto;
    margin-left: 10px;
}
.footer-copyright {
    background-color: black!important;
}
.page-footer {
    background-color: $main-color;
}